
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>File Storage</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
        .container{
            margin-top: 20px;
        }
    </style>
</head>
<body>
	<div class = "container">
		<div class = "header">
			<h3 class = "text-muted">All Files</h3>
		</div>
		<table border = "0">
			<tr>
				<th align="center">File Name</th>
				<th align="center">Hash</th>
				<th align="center">Decryted</th>
			</tr>
			{% for name in names %}
				{% for hash in hashes %}
					<tr>
						<td align="center">{{name}}</td>
						<td align="center">{{hash}}</td>
						<td align="center">
							<input type="button" value="decrypte">
						</td>
					</tr>
				{% endfor %}
			{% endfor %}

			<nav aria-label = "Page navigation" class="pull-right">
				<ul class = "pagination">
					{{html|safe}}
				</ul>
			</nav>
		</table>
	</div>
</body>
</html>