
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>File Storage</title>
</head>
<body>
	<div class = "container">
		<div class = "header">
			<h3 class = "text-muted">All Files</h3>
		</div>
		<table border = "0" width="100%">
			<tr>
				<th align="center">File Name</th>
				<th align="center">Hash</th>
				<th align="center">Decryted</th>
			</tr>
			{% for i in range(items) %}
				<tr>
					<td align="center">{{name[i]}}</td>
					<td align="center">{{hash[i]}}</td>
					<td align="center">
						<a href="{{url_for('decrypted',file_hash = hash[i])}}">{{'DECRYPT'}}</a>
					</td>
				</tr>
			{% endfor %}
			<tr style="width: 100%;">
				{% if max_page == 1:%}
				{% elif current_page > 1:%}
					<th align="center"><a href="{{url_for('explor_files',curpage = current_page - 1 )}}">Previous</th>
					<th></th>
				{% else: %}
					<th></th>
					<th></th>
				{% endif %}

				{% if current_page < max_page: %}
					<th align="center"><a href="{{url_for('explor_files',curpage = current_page + 1 )}}">Next</th>
				{% elif current_page == max_page: %}
				{% else: %}
				{% endif %}

			</tr>
		</table>
	</div>
</body>
</html>