
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>File Storage</title>
</head>
<body>
	<div class = "container">
		<div class = "header">
			<h3 class = "text-muted">All Files</h3>
		</div>
		<table border = "0" width="100%">
			<tr>
				<th align="center">File Name</th>
				<th align="center">Hash</th>
				<th align="center">Decryted</th>
			</tr>
			{% for i in range(items) %}
				<tr>
					<td align="center">{{name[i]}}</td>
					<td align="center">{{hash[i]}}</td>
					<td align="left">
						<a href="{{url_for('decrypted',file_hash = hash[i])}}">{{'DECRYPT'}}</a>
					</td>
				</tr>
			{% endfor %}
			<tr>
				<th align="center"><a href="{{url_for('explor_files',cur = current_page - 1 )}}">Previous</th>
				<th align ="center">Current</th>
				<th align="center"><a href="{{url_for('explor_files',cur = current_page + 1 )}}">Next</th>
			</tr>
		</table>
	</div>
</body>
</html>